In [16]:
import pandas as pd

In [19]:
pd.read_csv
df = pd.read_csv('Breast-Cancer-Wisconsin.csv')

In [20]:
df.head(10)

       Scn  A2  A3  A4  A5  A6  A7  A8  A9  A10  CLASS
0  1000025   5   1   1   1   2   1   3   1    1      2
1  1002945   5   4   4   5   7  10   3   2    1      2
2  1015425   3   1   1   1   2   2   3   1    1      2
3  1016277   6   8   8   1   3   4   3   7    1      2
4  1017023   4   1   1   3   2   1   3   1    1      2
5  1017122   8  10  10   8   7  10   9   7    1      4
6  1018099   1   1   1   1   2  10   3   1    1      2
7  1018561   2   1   2   1   2   1   3   1    1      2
8  1033078   2   1   1   1   2   1   1   1    5      2
9  1033078   4   2   1   1   2   1   2   1    1      2

In [26]:
print(df.describe())

                Scn          A2          A3          A4          A5  \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

               A6          A8          A9         A10       CLASS
count  699.000000  699.000000  699.000000  699.000000  699.000000
mean     3.216023    3.437768    2.866953    1.589413    2.689557
std      2.214300    2.438364    3.053634    1.715078    0.951273
min      1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000    2.000000    1.000000    1.000000    2.000000
50%      2.000000    3.000000    1.000000    1.000000    2.000000
75%      4.000000    5.000000    4.000000    1.000000    4.000000
max     10.000000   10.000000   10.000000   10.000000    4.000000

In [32]:
df.replace('A7', numpy.NaN)

         Scn  A2  A3  A4  A5  A6  A7  A8  A9  A10  CLASS
0    1000025   5   1   1   1   2   1   3   1    1      2
1    1002945   5   4   4   5   7  10   3   2    1      2
2    1015425   3   1   1   1   2   2   3   1    1      2
3    1016277   6   8   8   1   3   4   3   7    1      2
4    1017023   4   1   1   3   2   1   3   1    1      2
5    1017122   8  10  10   8   7  10   9   7    1      4
6    1018099   1   1   1   1   2  10   3   1    1      2
7    1018561   2   1   2   1   2   1   3   1    1      2
8    1033078   2   1   1   1   2   1   1   1    5      2
9    1033078   4   2   1   1   2   1   2   1    1      2
10   1035283   1   1   1   1   1   1   3   1    1      2
11   1036172   2   1   1   1   2   1   2   1    1      2
12   1041801   5   3   3   3   2   3   4   4    1      4
13   1043999   1   1   1   1   2   3   3   1    1      2
14   1044572   8   7   5  10   7   9   5   5    4      4
15   1047630   7   4   6   4   6   1   4   3    1      4
16   1048672   4   1   1   1   2   1   2   1    1      2
17   1049815   4   1   1   1   2   1   3   1    1      2
18   1050670  10   7   7   6   4  10   4   1    2      4
19   1050718   6   1   1   1   2   1   3   1    1      2
20   1054590   7   3   2  10   5  10   5   4    4      4
21   1054593  10   5   5   3   6   7   7  10    1      4
22   1056784   3   1   1   1   2   1   2   1    1      2
23   1057013   8   4   5   1   2   ?   7   3    1      4
24   1059552   1   1   1   1   2   1   3   1    1      2
25   1065726   5   2   3   4   2   7   3   6    1      4
26   1066373   3   2   1   1   1   1   2   1    1      2
27   1066979   5   1   1   1   2   1   2   1    1      2
28   1067444   2   1   1   1   2   1   2   1    1      2
29   1070935   1   1   3   1   2   1   1   1    1      2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ...    ...
669  1350423   5  10  10   8   5   5   7  10    1      4
670  1352848   3  10   7   8   5   8   7   4    1      4
671  1353092   3   2   1   2   2   1   3   1    1      2
672  1354840   2   1   1   1   2   1   3   1    1      2
673  1354840   5   3   2   1   3   1   1   1    1      2
674  1355260   1   1   1   1   2   1   2   1    1      2
675  1365075   4   1   4   1   2   1   1   1    1      2
676  1365328   1   1   2   1   2   1   2   1    1      2
677  1368267   5   1   1   1   2   1   1   1    1      2
678  1368273   1   1   1   1   2   1   1   1    1      2
679  1368882   2   1   1   1   2   1   1   1    1      2
680  1369821  10  10  10  10   5  10  10  10    7      4
681  1371026   5  10  10  10   4  10   5   6    3      4
682  1371920   5   1   1   1   2   1   3   2    1      2
683   466906   1   1   1   1   2   1   1   1    1      2
684   466906   1   1   1   1   2   1   1   1    1      2
685   534555   1   1   1   1   2   1   1   1    1      2
686   536708   1   1   1   1   2   1   1   1    1      2
687   566346   3   1   1   1   2   1   2   3    1      2
688   603148   4   1   1   1   2   1   1   1    1      2
689   654546   1   1   1   1   2   1   1   1    8      2
690   654546   1   1   1   3   2   1   1   1    1      2
691   695091   5  10  10   5   4   5   4   4    1      4
692   714039   3   1   1   1   2   1   1   1    1      2
693   763235   3   1   1   1   2   1   2   1    2      2
694   776715   3   1   1   1   3   2   1   1    1      2
695   841769   2   1   1   1   2   1   1   1    1      2
696   888820   5  10  10   3   7   3   8  10    2      4
697   897471   4   8   6   4   3   4  10   6    1      4
698   897471   4   8   8   5   4   5  10   4    1      4

[699 rows x 11 columns]

In [33]:
print(df.isnull().sum())

Scn      0
A2       0
A3       0
A4       0
A5       0
A6       0
A7       0
A8       0
A9       0
A10      0
CLASS    0
dtype: int64